@{
    ViewData["Title"] = "Geçmiş İşlemler";
    Layout = "_Layout";
}

<h1>Geçmiş İşlemler</h1>
<div class="analyse">
    <div class="sales">
        <div class="status">
            <div class="info">
                <h3>Günlük İşlem Sayısı</h3>
                <h1>102</h1>
            </div>
            <div class="progresss">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="percentage">
                    <p>+81%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="visits">
        <div class="status">
            <div class="info">
                <h3>Haftalık İşlem Sayısı</h3>
                <h1>1465</h1>
            </div>
            <div class="progresss">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="percentage">
                    <p>94%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="searches">
        <div class="status">
            <div class="info">
                <h3>Yıllık İşlem Sayısı</h3>
                <h1>40.145</h1>
            </div>
            <div class="progresss">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="percentage">
                    <p>+21%</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-orders">
    <h2>Son Yapılan İşlemler</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>İşlem Türü</th>
                <th>İşlem Yapan</th>
                <th>İşlem Tarihi</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#EE12052010-11452</td>
                <td>Vergi Ödeme</td>
                <td>Ferhat ÇAKMAKOĞLU</td>
                <td>12.05.2010</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#EE12052010-11452</td>
                <td>Vergi Ödeme</td>
                <td>Ferhat ÇAKMAKOĞLU</td>
                <td>12.05.2010</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#EE12052010-11452</td>
                <td>Vergi Ödeme</td>
                <td>Ferhat ÇAKMAKOĞLU</td>
                <td>12.05.2010</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#EE12052010-11452</td>
                <td>Vergi Ödeme</td>
                <td>Ferhat ÇAKMAKOĞLU</td>
                <td>12.05.2010</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#EE12052010-11452</td>
                <td>Vergi Ödeme</td>
                <td>Ferhat ÇAKMAKOĞLU</td>
                <td>12.05.2010</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#EE12052010-11452</td>
                <td>Vergi Ödeme</td>
                <td>Ferhat ÇAKMAKOĞLU</td>
                <td>12.05.2010</td>
                <td class="primary">Detaylar</td>
            </tr>
        </tbody>
    </table>
    <a href="#">1 - 2 - 3 - 4</a>
</div>