@{
    ViewData["Title"] = "Personel Listesi";
    Layout = "_Layout";
}

<div class="recent-orders">
    <h2>Tüm Personeller</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad Soyad</th>
                <th>Birimi</th>
                <th>İşe Başlama Tarih</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#IT-12052010-FC00</td>
                <td>Ferhat ÇAKMAKOĞLU</td>
                <td>Bilgi İşlem</td>
                <td>12.05.2010</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#SE-05062015-FC00</td>
                <td>Oğuz Alp ARSLAN</td>
                <td>Hizmet Birimi</td>
                <td>05.06.2015</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#SU-07092020-FC00</td>
                <td>Hakan TANRIKULU</td>
                <td>Destek Birimi</td>
                <td>07.09.2020</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#SU-07092020-FC00</td>
                <td>Hakan TANRIKULU</td>
                <td>Destek Birimi</td>
                <td>07.09.2020</td>
                <td class="primary">Detaylar</td>
            </tr>
            <tr>
                <td>#SU-07092020-FC00</td>
                <td>Hakan TANRIKULU</td>
                <td>Destek Birimi</td>
                <td>07.09.2020</td>
                <td class="primary">Detaylar</td>
            </tr>
        </tbody>
    </table>
    <a href="#">1 - 2 - 3 - 4 </a>
</div>